@import url('https://fonts.googleapis.com/css?family=Aleo');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
}
body {
    overflow: hidden; /* Hide scrollbars */
    font-family: 'Roboto', sans-serif;
  }